html {
	height: 100% !important;
}

body {
	height: 100% !important;
}

#wrap {
	min-height: 100% !important;
	height: auto !important;
	height: 100%;
	margin: 0 0 -136px 0;
}

/*footer {
	background-color:#EEEEEE;
}*/

/*@media (max-width: 767px) {
	footer {
		padding-left: 20px;
		padding-right: 20px;
	}
}*/