.light-gray {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #dadada 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#dadada 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#dadada 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#dadada 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
}

.dark-grey {
	background: #212121; /* Old browsers */
	background: -moz-linear-gradient(top, #212121 0%, #3c3d3f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212121), color-stop(100%,#3c3d3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #212121 0%,#3c3d3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #212121 0%,#3c3d3f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #212121 0%,#3c3d3f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #212121 0%,#3c3d3f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#3c3d3f',GradientType=0 ); /* IE6-9 */
}