body {
	font-family: Tahoma, sans-serif;
	color: #515151;
	/*margin-top: 100px;*/
}

#menu-nav {
	margin-bottom: 0;
	background-color: #505050;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #E48C3C;
}

#nav-menu  li  a {
	padding: 10px !important;
}

#heading-wrapper {
	font-family: 'Arvil-sans';
	padding: 25px 0;
}

#main-heading {
	background: -webkit-linear-gradient(#8E5026, #F5851F);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #BD6C23;
	font-size: 60px;
	text-transform: uppercase;
	line-height: 40px;
}

#main-heading .title {
	color: #999999;
	-webkit-text-fill-color: currentcolor;
	font-size: 40px;
	line-height: 40px;
}

footer {
	background-color: #555555;
	border-top: 1px solid #E48C3C;
	color: #A0A0A0;
	margin-top: 50px;
	padding: 20px 0;
}

.heading {
	color: #999999;
	font-family: 'Arvil-sans';
	font-size: 40px;
	margin: 45px 0 20px 0;
	text-align: center;
}