body {
	font-family: Tahoma, sans-serif;
	color: #515151;
}

#body-background {
	background-image: url(../../assets/images/codebg.jpg);
	background-size: cover;
	bottom: 0;
	left: 0;
	opacity: 0.75;
	position: absolute;
	right: 0;
	top: 0;
	color: #FFFFFF;
}

#menu-nav {
	margin-bottom: 0;
	background-color: #444444;
	border: none;
	border-radius: 0;
}

#heading-wrapper {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #dadada 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#dadada 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#dadada 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#dadada 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
	font-family: 'Arvil-sans';
	padding: 25px 0;
}

#main-heading {
	background: -webkit-linear-gradient(#8E5026, #F5851F);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #BD6C23;
	font-size: 60px;
	text-transform: uppercase;
	line-height: 40px;
}

#main-heading .title {
	color: #999999;
	-webkit-text-fill-color: currentcolor;
	font-size: 40px;
	line-height: 40px;
}

#main-container {
	/*padding-top: 20px;*/
}

footer {
	background-color: #444444;
	border-top: 1px solid #E48C3C;
	color: #A0A0A0;
	padding: 20px 0;
}

.heading {
	color: #999999;
	font-family: 'Arvil-sans';
	font-size: 40px;
	margin: 30px 0 20px 0;
	text-align: center;
}